<p>いいね件数:&ensp;<%= post.likes.count %></p>
<% if user_logged_in? %>
  <% if current_user.already_liked?(post) %> 
    <%= button_to  post_like_path(post), method: :delete, id: 'like-button', remote: true do %>
      <i class="fas fa-heart"></i>
    <% end %>
  <% else %>
    <%= button_to  post_like_path(post), id: 'like-button', remote: true do %>
      <i class="far fa-heart"></i>
    <% end %>
  <% end %>
<% end %>
<p>--------------------------------------------------------------------------------------------------------------------------------------------------------</p>