<div class="post-wrapper">
  <div class="box B_2"> 
    <p>ユーザーネーム:&ensp;<%= @user.username %><br></p>
    <p>プロフィール:<br><%= @user.profile %></p>
    <p>--------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <%= render 'posts/posts_search' %>
  
    <%= paginate @posts %>
  </div>
</div>