<div class="home-main">
  <div class="container-fluid">
    <div class="row">
      <div class="col px-0">
        <div class="home-top">
          <h1>FoodTakeoutMap</h1>
          <p>テイクアウトに対応しているお店の情報共有サービスです</p>
        </div>
      </div>
    </div>
    <div class="row">
    
        <h2>機能</h2>
      
      <div class="col-md-4">
        <p>投稿検索<p>
        <p>値段帯での検索やユーザーを絞っての検索ができます<p>
      </div>
      <div class="col-md-4">
        <p>ユーザーフォロー<p>
        <p>頻繁にチェックするユーザーをフォローすることで、フォローしたユーザーの投稿がマイページに追加されます<p>
      </div>
      <div class="col-md-4">
        <p>いいね機能</p>
        <p>良いと思った投稿に対しいいねを付けることができ、他者と共有できます<p>
      </div>
  </div>
</div>
