<div class="home-main">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>FoodTakeoutMap</h1>
        <p>テイクアウトに対応しているお店の情報共有サービスです</p>
      </div>
    </div>
    <div class="row">
    
        <h2>機能</h2>
      
      <div class="col-md-4">
        <p>投稿検索<p>
      </div>
      <div class="col-md-4">
        <p>ユーザーフォロー<p>
      </div>
      <div class="col-md-4">
        <p>いいね機能</p>
      </div>
  </div>
</div>
