.home-top {
    background-image: url(4036048_m.jpg);
    background-size: cover;
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    height: 1000px;
    text-align: center;
    
  h1 {
    color: #9F9;
    font-size: 80px;
    padding-top: 300px;
     }
  p {
    color: #EEE;
    font-size:30px;
    font-weight: bold;
    padding-top: 30px;
        
    }
    }
    
    
    
