// 全体
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

*{box-sizing:border-box;}
body {
  font-family: 'open sans', helvetica, arial, sans;
  background:url(http://farm8.staticflickr.com/7064/6858179818_5d652f531c_h.jpg) no-repeat center center scroll; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// ホーム画面
header {
  position: fixed;
  top: 0;
  z-index: 30;
  width: 100%;
  background-color:rgba(240, 248, 255, 0.8);
  height: 60px;
}

.home-top {
    background-image: url(4036048_m.jpg);
    background-size: cover;
    background-color: hsla(0, 0%, 100%, 0.438);
    background-blend-mode: lighten;
    height: 1000px;
    text-align: center;

  @media only screen and (max-width: 768px) {
       font-size:10px; 
    }
    

  h1 {
    color: #9F9;
    font-size: 4em;
    padding-top: 300px;
  }
  p {
    color: #EEE;
    font-size:2em;
    font-weight: bold;
    padding-top: 30px;
  }
}

    .service-contents {
      background-color: #CFF;

    @media only screen and (max-width: 768px) {
      font-size:14px; 
    }
     
      h2 {
        color: #BAD3FF;
        font-size: 3.5em;
        font-weight: bold;
        text-align: center;
        padding-top: 50px;
      }
      
    }
    .contents {
      font-size: 2em;
      color: #39F;
      text-align: center;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .description {
      font-size: 1.5em;
      color: #39F;
      text-align: center;
    }

    .search {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .follow {
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .like {
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .description-wrapper {
      border-radius: 50%;
      border: 5px solid #39F;
      height: 400px;
      position: relative;

    @media only screen and (max-width: 768px) {
      height:350px;
      font-size: 11px;
    }
    }

    strong {
      margin-right: 50px;
    }
    // サインアップ、ログイン
      $grey:#2a2a2a;
      $blue:#1fb5bf;

.registration_contents {
  width: 70%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  margin: 60px auto 0 auto;

  // position: relative;
  // margin-top: 50px;
  // margin-bottom: 50px;
  // top: 400px;
  // left: 50%;
  // transform: translate(-50%,-50%);
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);

  @media screen and (max-width: 640px) {
    textarea {
      width: 100%;
      height: 100%;
      position: relative;
      margin: 60px auto 0 auto;
      left: 0%;
      transform: translate(0%,0%);
    }
  }
  // -webkit-transform: translate(-50%,-50%);
  // -moz-transform: translate(-50%,-50%);
  // -o-transform: translate(-50%,-50%);
  // -ms-transform: translate(-50%,-50%);

  
  form {
    display: block;
    width: 100%;
    padding: 2em;
  }
  
  h2 {
    width: 100%;
    color: lighten($grey, 20%);
    font-family: 'open sans condensed';
    font-size: 1.35em;
    display: block;
    background:$grey;
    width: 100%;
    text-transform: uppercase;
    padding: .75em 1em .75em 1.5em;
    box-shadow:inset 0px 1px 1px fadeout(white, 95%);
    border: 1px solid darken($grey, 5%);
    margin: 0;
    font-weight: 200;
  }
  
  input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
    &:focus {
      outline: none;
    }
  }
  
  .actions {
    display: inline-block;
    background: $blue;
    border: 1px solid darken($blue, 5%);
    padding: .5em 2em;
    color: white;
    margin-right: .5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%); 
    &:hover {
      background: lighten($blue, 5%);
    }
    &:active {
      background: $blue; 
      box-shadow: inset 0px 1px 1px fadeout(black, 90%); 
    }
    &:focus {
      outline: none;
    }
  }
}
  // ログイン
  .login_check_box {
    transform: scale(1.5);
    position: relative;
    top: 5px;
    right: 48%;
    
  }

  // マイページ
.my_page_contents {
    min-width: 320px;
    max-width: 475px;
    background: #fff;
    margin: 60px auto 0 auto;
    
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // margin-top: 100px;
    // transform: translate(-50%,-50%);
    box-shadow: 0px 2px 5px rgba(0,0,0,.25);
    // -webkit-transform: translate(-50%,-50%);
    // -moz-transform: translate(-50%,-50%);
    // -o-transform: translate(-50%,-50%);
    // -ms-transform: translate(-50%,-50%);
  @media screen and (max-width: 768px) {
    textarea {
      width: 100%;
      height: 100%;
      position: relative;
      margin: 2,5% auto 0 auto;
      left: 0%;
      transform: translate(0%,0%);
    }
  }
    
  @media screen and (min-width: 769px) {
    textarea {
      width: 100%;
      height: 100%;
    }
  }
  
  
    
  form {
    display: block;
    width: 100%;
    padding: 2em;
      
  }
    
  h2 {
    width: 100%;
    color: lighten($grey, 20%);
    font-family: 'open sans condensed';
    font-size: 1.35em;
    display: block;
    background:$grey;
    width: 100%;
    text-transform: uppercase;
    padding: .75em 1em .75em 1.5em;
    box-shadow:inset 0px 1px 1px fadeout(white, 95%);
    border: 1px solid darken($grey, 5%);
    margin: 0;
    font-weight: 200;
  }
    
  h3 {
    text-align: center;
  }

  input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color:#757575;
    &:focus {
      outline: none;
    }
  }
    
  .actions {
    display: inline-block;
    background: $blue;
    border: 1px solid darken($blue, 5%);
    padding: .5em 2em;
    color: white;
    margin-right: .5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%); 
    &:hover {
      background: lighten($blue, 5%);
    }
    &:active {
      background: $blue; 
      box-shadow: inset 0px 1px 1px fadeout(black, 90%); 
    }
    &:focus {
      outline: none;
    }
  }
}

  // マイ投稿＆投稿一覧
.pagination {
  justify-content: center;
  }
.post-wrapper {
  font-family: 'Baloo Bhaina', cursive;
	font-size: 20px;
	text-align: center;
  color: rgba(27, 79, 114, 0.6);
	background: #e9ebee;
  margin: 60px auto 0 auto;
  @media screen and (max-width: 640px) {
    img {
      width: 160px;
      height: 160px;
    }
  }

  

  .box{
    background: #fff;
    display: inline-block;
    padding: 8% 20px;
    height: auto;
    width: 70%;
    margin: 1rem;
  }

  .B_2{
    border: 5px dotted rgba(27, 79, 114, 0.4);
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.3);
    &:hover{
      box-shadow: 0 0 35px 20px rgba(79,69,66,0.2);
    }
  }
}

// 投稿ジャンル
.genre_tag {
  margin-bottom: 10px;
}

// いいねボタン
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #F3C;
  outline: none;
  padding: 0;
  appearance: none;
}

// いいねユーザーリスト
.post-wrapper li {
  list-style: none;
}

  //  flashメッセージ
.alert {
  margin-bottom: 0 !important;
  margin-top: 60px;
}

// 利用規約、プライバシーポリシー、同意ボックス
.terms_and_policy {
  font-size: 20px;
  color:#333;
  background-color: rgba(230, 230, 250, 0.5);
  text-align: center;
  
  
}

.agreement {
  position: relative;
  right: 48%;
  top: 20px;
  transform: scale(1.5);

}


    
    
    
