<div class="post-wrapper">
  <div class="box B_2"> 
    <h2>ユーザー一覧</h2>
    <% @users.each do |user| %>
      <p>ユーザー名:&ensp;<%= link_to user.username, user_path(user) %></p>
    <% end %>
    
    <%= paginate @users %>
  </div>
</div>